.header {
  text-align: center;
  background-color: rgb(42, 42, 153);
  color: white;
  padding: 10px;
  height: 100px;
  width: 100%;
}
.btn{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}